# node_modules
node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*
web-build/

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Expo
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Misc
.agent/
coverage/
.nyc_output/